@import "tailwindcss";

@theme inline {
  --font-serif: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

body {
  background: #000;
  color: theme(colors.zinc.100);
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }
}
